body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: blue;
    margin: 10px auto;
    padding: 3px 0px;
}

.grid {
    background-color: orange;
    margin: 1.1px;
}

.grid.hover {
    background-color: yellow;
}

.button {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#reset {
    width: 100px;
    height: 50px;
}